{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .c-vizual {
            background-image: url(https://picsum.photos/1920/700);
            margin-bottom: 3rem;
        }
    </style>
{% endblock %}

{% block sidebar %}
    <li>
        <a href="#components">Components</a>
    </li>
    <li>
        <a href="#texts">Text components</a>
    </li>
    <li>
        <a href="#breadcrumbs">Breadcrumbs</a>
    </li>
    <li>
        <a href="#carousel">Carousel</a>
    </li>
    <li>
        <a href="#footer">Sticky footer</a>
    </li>
    <li>
        <a href="#forms">Forms components</a>
    </li>
    <li>
        <a href="#menu">Menu</a>
    </li>
    <li>
        <a href="#cards">Cards + Media wrappers</a>
    </li>
    <li>
        <a href="#modal">Modal</a>
    </li>
    <li>
        <a href="#pagination">Pagination</a>
    </li>
    <li>
        <a href="#progress">Progress</a>
    </li>
    <li>
        <a href="#tabs">Tabs</a>
    </li>
    <li>
        <a href="#vizuals">Vizuals</a>
    </li>
{% endblock %}

{% block body %}

    <h1 class="c-h1" id="components">Components</h1>

    <p class="c-paragraph">The biggest part of Skar.IS library is the components part. Almost every component use variables from settings file, some of them need the JS part and jQuery to make them work.</p>

    <h2 class="c-h2" id="texts">Text components</h2>

    <p class="c-paragraph">Text components includes titles (.c-h1, .c-h2, .c-h3), paragraph component and list component.</p>

    <h1 class="c-h1">H1 title</h1>
    <h2 class="c-h2">H2 title</h2>
    <h3 class="c-h3">H3 title</h3>

    <p class="c-paragraph">This is paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non nulla massa. Etiam vel elit non lacus maximus varius. Donec pulvinar sollicitudin ligula, vitae congue ante volutpat ac. Aenean porttitor justo massa, in dignissim ipsum faucibus tincidunt. Praesent et mi dapibus massa mattis sagittis. Curabitur laoreet ante et venenatis porta. Donec ut pretium risus. Aenean in luctus nisi. Maecenas iaculis lacinia mi non condimentum.</p>

    <p class="c-paragraph">This is paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non nulla massa. Etiam vel elit non lacus maximus varius. Donec pulvinar sollicitudin ligula, vitae congue ante volutpat ac. Aenean porttitor justo massa, in dignissim ipsum faucibus tincidunt. Praesent et mi dapibus massa mattis sagittis. Curabitur laoreet ante et venenatis porta. Donec ut pretium risus. Aenean in luctus nisi. Maecenas iaculis lacinia mi non condimentum.</p>

    <ul class="c-list">
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
    </ul>

    <ol class="c-list">
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
    </ol>

    <pre>
        <code>
&lt;h1 class=&quot;c-h1&quot;&gt;H1 title&lt;/h1&gt;
&lt;h2 class=&quot;c-h2&quot;&gt;H2 title&lt;/h2&gt;
&lt;h3 class=&quot;c-h3&quot;&gt;H3 title&lt;/h3&gt;

&lt;p class=&quot;c-paragraph&quot;&gt;This is paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non nulla massa. Etiam vel elit non lacus maximus varius. Donec pulvinar sollicitudin ligula, vitae congue ante volutpat ac. Aenean porttitor justo massa, in dignissim ipsum faucibus tincidunt. Praesent et mi dapibus massa mattis sagittis. Curabitur laoreet ante et venenatis porta. Donec ut pretium risus. Aenean in luctus nisi. Maecenas iaculis lacinia mi non condimentum.&lt;/p&gt;

&lt;p class=&quot;c-paragraph&quot;&gt;This is paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non nulla massa. Etiam vel elit non lacus maximus varius. Donec pulvinar sollicitudin ligula, vitae congue ante volutpat ac. Aenean porttitor justo massa, in dignissim ipsum faucibus tincidunt. Praesent et mi dapibus massa mattis sagittis. Curabitur laoreet ante et venenatis porta. Donec ut pretium risus. Aenean in luctus nisi. Maecenas iaculis lacinia mi non condimentum.&lt;/p&gt;

&lt;ul class=&quot;c-list&quot;&gt;
    &lt;li&gt;List item&lt;/li&gt;
    &lt;li&gt;List item&lt;/li&gt;
    &lt;li&gt;List item&lt;/li&gt;
&lt;/ul&gt;

&lt;ol class=&quot;c-list&quot;&gt;
    &lt;li&gt;List item&lt;/li&gt;
    &lt;li&gt;List item&lt;/li&gt;
    &lt;li&gt;List item&lt;/li&gt;
&lt;/ol&gt;
        </code>
    </pre>

    <p class="c-paragraph">The following variables can be changed:</p>

    <pre>
        <code class="css">
$headingsMarginBottom: 2rem;
$headingsFontWeight: 500;
$h1fontSize: 3.6rem;
$h2fontSize: 2.7rem;
$h3fontSize: 2.1rem;
$paragraphMarginBottom: 2rem;
$paragraphLine: 1.75;
$paragraphFontSize: 1.6rem;
$listPaddingLeft: 2rem;
$listMarginBottom: 2rem;
$listLineHeight: 1.75;
$listItemPaddingLeft: 2rem;
        </code>
    </pre>

<h2 class="c-h2" id="breadcrumbs">Breadcrumbs</h2>

    <ul class="c-breadcrumbs">
        <li><a href="#">Main page</a></li>
        <li><a href="#">Category page</a></li>
        <li><a href="#">Another page</a></li>
        <li>This page</li>
    </ul>

    <pre>
        <code>
&lt;ul class=&quot;c-breadcrumbs&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Main page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Category page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Another page&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;This page&lt;/li&gt;
&lt;/ul&gt;
        </code>
    </pre>

    <p class="c-paragraph">The following variables can be changed:</p>

    <pre>
        <code class="css">
$breadcrumbsPadding: 1.5rem 0;
$breadcrumbsFontSize: 1.8rem;
$breadcrumbsDividerPadding: 1rem;
        </code>
    </pre>

    <h2 class="c-h2" id="carousel">Carousel (JS)</h2>

    <h3 class="c-h3">Without controls autosliding</h3>

    <div class="c-carousel" data-carousel="carousel-1" data-autoslide="3000">
        <div class="slide">
            <div class="c-mediaWrapper-21_9">
                <img src="https://picsum.photos/1320/743?image=0" alt="Picture"/>
            </div>
        </div>
        <div class="slide">
            <div class="c-mediaWrapper-21_9">
                <img src="https://picsum.photos/1320/743?image=1" alt="Picture"/>
            </div>
        </div>
        <div class="slide">
            <div class="c-mediaWrapper-21_9">
                <img src="https://picsum.photos/1320/743?image=2" alt="Picture"/>
            </div>
        </div>
    </div>

    <pre>
        <code>
&lt;div class=&quot;c-carousel&quot; data-carousel=&quot;carousel-1&quot; data-autoslide=&quot;3000&quot;&gt;
        &lt;div class=&quot;slide&quot;&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;img src=&quot;https://picsum.photos/1320/743?image=0&quot; alt=&quot;Picture&quot;/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;slide&quot;&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;img src=&quot;https://picsum.photos/1320/743?image=1&quot; alt=&quot;Picture&quot;/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;slide&quot;&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;img src=&quot;https://picsum.photos/1320/743?image=2&quot; alt=&quot;Picture&quot;/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
&lt;/div&gt;
        </code>
    </pre>

    <h3 class="c-h3">With controls</h3>

    <div class="c-carousel" data-carousel="carousel-2">
        <div class="previous-slide" data-previous-carousel="carousel-2"></div>
        <div class="slide">
            <div class="c-mediaWrapper-21_9">
                <img src="https://picsum.photos/1320/743?image=3" alt="Picture"/>
            </div>
        </div>
        <div class="slide">
            <div class="c-mediaWrapper-21_9">
                <img src="https://picsum.photos/1320/743?image=4" alt="Picture"/>
            </div>
        </div>
        <div class="slide">
            <div class="c-mediaWrapper-21_9">
                <img src="https://picsum.photos/1320/743?image=5" alt="Picture"/>
            </div>
        </div>
        <div class="slide">
            <div class="c-mediaWrapper-21_9">
                <img src="https://picsum.photos/1320/743?image=6" alt="Picture"/>
            </div>
        </div>
        <div class="slide">
            <div class="c-mediaWrapper-21_9">
                <img src="https://picsum.photos/1320/743?image=7" alt="Picture"/>
            </div>
        </div>
        <div class="next-slide" data-next-carousel="carousel-2"></div>
        <ul class="indicators">
            <li class="active" data-numbers-carousel="carousel-2" data-number="1"></li>
            <li data-numbers-carousel="carousel-2" data-number="2"></li>
            <li data-numbers-carousel="carousel-2" data-number="3"></li>
            <li data-numbers-carousel="carousel-2" data-number="4"></li>
            <li data-numbers-carousel="carousel-2" data-number="5"></li>
        </ul>
    </div>

    <pre>
        <code>
&lt;div class=&quot;c-carousel&quot; data-carousel=&quot;carousel-2&quot;&gt;
        &lt;div class=&quot;previous-slide&quot; data-previous-carousel=&quot;carousel-2&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;slide&quot;&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;img src=&quot;https://picsum.photos/1320/743?image=3&quot; alt=&quot;Picture&quot;/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;slide&quot;&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;img src=&quot;https://picsum.photos/1320/743?image=4&quot; alt=&quot;Picture&quot;/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;slide&quot;&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;img src=&quot;https://picsum.photos/1320/743?image=5&quot; alt=&quot;Picture&quot;/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;slide&quot;&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;img src=&quot;https://picsum.photos/1320/743?image=6&quot; alt=&quot;Picture&quot;/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;slide&quot;&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;img src=&quot;https://picsum.photos/1320/743?image=7&quot; alt=&quot;Picture&quot;/&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;next-slide&quot; data-next-carousel=&quot;carousel-2&quot;&gt;&lt;/div&gt;
        &lt;ul class=&quot;indicators&quot;&gt;
            &lt;li class=&quot;active&quot; data-numbers-carousel=&quot;carousel-2&quot; data-number=&quot;1&quot;&gt;&lt;/li&gt;
            &lt;li data-numbers-carousel=&quot;carousel-2&quot; data-number=&quot;2&quot;&gt;&lt;/li&gt;
            &lt;li data-numbers-carousel=&quot;carousel-2&quot; data-number=&quot;3&quot;&gt;&lt;/li&gt;
            &lt;li data-numbers-carousel=&quot;carousel-2&quot; data-number=&quot;4&quot;&gt;&lt;/li&gt;
            &lt;li data-numbers-carousel=&quot;carousel-2&quot; data-number=&quot;5&quot;&gt;&lt;/li&gt;
        &lt;/ul&gt;
&lt;/div&gt;
        </code>
    </pre>

    <h3 class="c-h3">The following variables can be changed:</h3>

    <pre>
        <code class="css">
$carouselCurrentSlides: 1;
$carouselLinkWidth: 8rem;
$carouselArrowSize: 4rem;
$carouselArrowColor: white;
$carouselIndicatorsBottom: 2rem;
$carouselIndicatorsWidth: 4rem;
$carouselIndicatorsHeight: .5rem;
$carouselIndicatorsColor: white;
$carouselIndicatorsSpace: .6rem;
        </code>
    </pre>

    <h2 class="c-h2" id="footer">Sticky footer</h2>

    <p class="c-paragraph">For example of sticky footer component download the library. The following variables can be changed:</p>

    <pre>
        <code class="css">
$footerHeight: 10rem;
$footerBg: #282828;
$footerBreakpoint: 80000000rem;
        </code>
    </pre>

    <h2 class="c-h2" id="forms"><p class="c-paragraph">Inputs components can look a bit different on each browser.</p>Forms components</h2>

    <p class="c-paragraph">Forms components includes input/textarea/select component, range input component, svg radio/checkbox component and button component.</p>

    <p class="c-paragraph">Inputs components can look a bit different on each browser.</p>

    <p class="c-paragraph">
        <input type="text" class="c-input"/>
    </p>
    <p class="c-paragraph">
        <textarea class="c-input"></textarea>
    </p>
    <p class="c-paragraph">
        <select class="c-input">
            <option>Option</option>
            <option>Option</option>
        </select>
    </p>
    <p class="c-paragraph">
        <input type="range" class="c-rangeInput"/>
    </p>
    <p class="c-paragraph">
    <div class="c-svgInput">
        <input type="radio" name="test" value="First radio input" id="test-radio" checked/>
        <label for="test-radio">
            <svg height="12" width="12">
                <circle cx="6" cy="6" r="6" fill="#282828"></circle>
            </svg>
        </label>
    </div>
    <div class="c-svgInput">
        <input type="radio" name="test" id="test-radio-2" value="Second radio input"/>
        <label for="test-radio-2">
            <svg height="12" width="12">
                <circle cx="6" cy="6" r="6" fill="#282828"></circle>
            </svg>
        </label>
    </div>
    </p>
    <p class="c-paragraph">
    <div class="c-svgInput">
        <input type="checkbox" id="test-checkbox">
        <label for="test-checkbox">
            <svg overflow="scroll" baseProfile="tiny" version="1.1" viewBox="0 0 10.001 7.993" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.428,0L3.936,4.7L1.574,2.229L0,3.875L3.149,7.17l0.787,0.824l6.066-6.347L8.428,0z" fill-rule="evenodd"></path>
                    </svg>
        </label>
    </div>
    </p>
    <p class="c-paragraph">
        <br>
        <input type="submit" class="c-button"/>
    </p>

    <pre>
        <code>
    &lt;p class=&quot;c-paragraph&quot;&gt;
        &lt;input type=&quot;text&quot; class=&quot;c-input&quot;/&gt;
    &lt;/p&gt;
    &lt;p class=&quot;c-paragraph&quot;&gt;
        &lt;textarea class=&quot;c-input&quot;&gt;&lt;/textarea&gt;
    &lt;/p&gt;
    &lt;p class=&quot;c-paragraph&quot;&gt;
        &lt;select class=&quot;c-input&quot;&gt;
            &lt;option&gt;Option&lt;/option&gt;
            &lt;option&gt;Option&lt;/option&gt;
        &lt;/select&gt;
    &lt;/p&gt;
    &lt;p class=&quot;c-paragraph&quot;&gt;
        &lt;input type=&quot;range&quot; class=&quot;c-rangeInput&quot;/&gt;
    &lt;/p&gt;
    &lt;p class=&quot;c-paragraph&quot;&gt;
    &lt;div class=&quot;c-svgInput&quot;&gt;
        &lt;input type=&quot;radio&quot; name=&quot;test&quot; value=&quot;First radio input&quot; id=&quot;test-radio&quot; checked/&gt;
        &lt;label for=&quot;test-radio&quot;&gt;
            &lt;svg height=&quot;12&quot; width=&quot;12&quot;&gt;
                &lt;circle cx=&quot;6&quot; cy=&quot;6&quot; r=&quot;6&quot; fill=&quot;#282828&quot;&gt;&lt;/circle&gt;
            &lt;/svg&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class=&quot;c-svgInput&quot;&gt;
        &lt;input type=&quot;radio&quot; name=&quot;test&quot; id=&quot;test-radio-2&quot; value=&quot;Second radio input&quot;/&gt;
        &lt;label for=&quot;test-radio-2&quot;&gt;
            &lt;svg height=&quot;12&quot; width=&quot;12&quot;&gt;
                &lt;circle cx=&quot;6&quot; cy=&quot;6&quot; r=&quot;6&quot; fill=&quot;#282828&quot;&gt;&lt;/circle&gt;
            &lt;/svg&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;/p&gt;
    &lt;p class=&quot;c-paragraph&quot;&gt;
    &lt;div class=&quot;c-svgInput&quot;&gt;
        &lt;input type=&quot;checkbox&quot; id=&quot;test-checkbox&quot;&gt;
        &lt;label for=&quot;test-checkbox&quot;&gt;
            &lt;svg overflow=&quot;scroll&quot; baseProfile=&quot;tiny&quot; version=&quot;1.1&quot; viewBox=&quot;0 0 10.001 7.993&quot; xml:space=&quot;preserve&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
                        &lt;path d=&quot;M8.428,0L3.936,4.7L1.574,2.229L0,3.875L3.149,7.17l0.787,0.824l6.066-6.347L8.428,0z&quot; fill-rule=&quot;evenodd&quot;&gt;&lt;/path&gt;
            &lt;/svg&gt;
        &lt;/label&gt;
    &lt;/div&gt;
    &lt;/p&gt;
    &lt;p class=&quot;c-paragraph&quot;&gt;
        &lt;br&gt;
        &lt;input type=&quot;submit&quot; class=&quot;c-button&quot;/&gt;
    &lt;/p&gt;
        </code>
    </pre>

    <p class="c-paragraph">
        The following variables can be changed:
    </p>

    <pre>
        <code class="css">
//normal inputs
$textInputHeight: 5rem;
$textInputPadding: 1.5rem;
$textInputFontSize: 1.8rem;
$textInputBorder: .2rem solid #A9A8B2;
$textInputBorderFocus: .2rem solid #282828;
$textInputColor: #A9A8B2;
$textInputColorFocus: #282828;
$textInputPlaceholderColor: #A9A8B2;
//range input
$rangeInputThumbBorderWidth: .2rem;
$rangeInputThumbBorderColor: #A9A8B2;
$rangeInputThumbHeight: 1.6rem;
$rangeInputThumbWidth: 1.6rem;
$rangeInputThumbBg: white;
$rangeInputThumbBorderRadius: 50%;
$rangeInputSliderHeight: 0.5rem;
$rangeInputSliderBg: #282828;
//svg input (radio+checkbox)
$svgInputWidthHeight: 2.4rem;
$svgInputPadding: .4rem;
$svgInputBorder: .2rem solid #A9A8B2;
$svgInputBg: white;
$svgInputCheckedBorder: .2rem solid #282828;
$svgInputCheckedBg: white;
$svgInputCheckedColor: #282828;
$svgInputBorderRadius: 50%;
//selects
$selectArrowColor: #A9A8B2;
$selectArrowFocusColor: #282828;
$selectArrowWidth: 1.6rem;
$selectArrowHeight: .8rem;
$selectArrowRight: 1.5rem;
$selectArrowTop: 2rem;
//buttons and button-like inputs
$buttonPadding: 3rem;
$buttonHeight: 5rem;
$buttonBg: #282828;
$buttonColor: white;
$buttonFontSize: 1.6rem;
        </code>
    </pre>

    <h2 class="c-h2" id="menu">Menu components (JS)</h2>

    <p class="c-paragraph">Menu component has two states. Mobile - hamburger menu and desktop. Desktop state can be horizontal or vertical.</p>

    <h3 class="c-h3">Horizontal menu</h3>

    <div class="c-menu horizontal h-positionStatic" data-menu="menu-3">

        <div class="wrapper">

            <a class="logo" href="#">
                <img src="http://via.placeholder.com/80x80" alt="Logo"/>
            </a>

            <nav class="nav">
                <ul class="nav-list">
                    <li>
                        <a href="#" class="active">Menu item 1</a>
                    </li>
                </ul>
                <ul class="nav-list">
                    <li>
                        <a href="#">Right menu item</a>
                    </li>
                </ul>
            </nav>

            <div class="hamburger js-menu" data-start-menu="menu-3">
                <div class="line"></div>
            </div>

        </div>

    </div>

    <pre>
        <code>
&lt;div class=&quot;c-menu horizontal&quot; data-menu=&quot;menu-1&quot;&gt;

        &lt;div class=&quot;wrapper&quot;&gt;

            &lt;a class=&quot;logo&quot; href=&quot;#&quot;&gt;
                &lt;img src=&quot;http://via.placeholder.com/80x80&quot; alt=&quot;Logo&quot;/&gt;
            &lt;/a&gt;

            &lt;nav class=&quot;nav&quot;&gt;
                &lt;ul class=&quot;nav-list&quot;&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;Menu item 1&lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
                &lt;ul class=&quot;nav-list&quot;&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot;&gt;Right menu item&lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/nav&gt;

            &lt;div class=&quot;hamburger js-menu&quot; data-start-menu=&quot;menu-1&quot;&gt;
                &lt;div class=&quot;line&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;

        &lt;/div&gt;

&lt;/div&gt;
        </code>
    </pre>

    <h3 class="c-h3">Vertical menu</h3>

    <div class="c-menu vertical h-positionStatic" data-menu="menu-2">

        <div class="wrapper">

            <a class="logo" href="#">
                <img src="http://via.placeholder.com/80x80" alt="Logo"/>
            </a>

            <nav class="nav">
                <ul class="nav-list">
                    <li>
                        <a href="#" class="active">Menu item 1</a>
                    </li>
                    <li>
                        <a href="#">Menu item 2</a>
                    </li>
                    <li>
                        <a href="#">Menu item 3</a>
                    </li>
                </ul>
                <ul class="nav-list">
                    <li>
                        <a href="#">Another menu item</a>
                    </li>
                    <li>
                        <a href="#">Last menu item</a>
                    </li>

                </ul>
            </nav>

            <div class="hamburger js-menu" data-start-menu="menu-2">
                <div class="line"></div>
            </div>

        </div>

    </div>

    <pre>
        <code>
    &lt;div class=&quot;c-menu vertical&quot; data-menu=&quot;menu-2&quot;&gt;

        &lt;div class=&quot;wrapper&quot;&gt;

            &lt;a class=&quot;logo&quot; href=&quot;#&quot;&gt;
                &lt;img src=&quot;http://via.placeholder.com/80x80&quot; alt=&quot;Logo&quot;/&gt;
            &lt;/a&gt;

            &lt;nav class=&quot;nav&quot;&gt;
                &lt;ul class=&quot;nav-list&quot;&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;Menu item 1&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot;&gt;Menu item 2&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot;&gt;Menu item 3&lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
                &lt;ul class=&quot;nav-list&quot;&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot;&gt;Another menu item&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot;&gt;Last menu item&lt;/a&gt;
                    &lt;/li&gt;

                &lt;/ul&gt;
            &lt;/nav&gt;

            &lt;div class=&quot;hamburger js-menu&quot; data-start-menu=&quot;menu-2&quot;&gt;
                &lt;div class=&quot;line&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;

        &lt;/div&gt;

    &lt;/div&gt;
        </code>
    </pre>

    <h3 class="c-h3">The following variables can be changed:</h3>

    <pre>
        <code class="css">
$menuBg: #282828;
$menuFontSize: 1.8rem;
$menuColor: white;
//menu in hamburger mode
$menuHeight: 6rem;
$menuLineHeight: 4.2rem;
$hamburgerWidth: 3rem;
$hamburgerHeight: 2rem;
$hamburgerLineHeight: .2rem;
$hamburgerLineBg: white;
$navMarginTop: 1.5rem;
$navMarginBottom: 1.5rem;
//breakpoint when hamburger menus change to normal
$menuBreakpoint: $screen-md;
//dimension for normal horizontal menu
$menuDesktopHeight: 10rem;
$menuDesktopItemsSpace: 2rem;
//dimension for normal vertical menu
$menuVerticalLogoTop: 4rem;
$menuVerticalLogoBottom: 4rem;
$menuVerticalNavTop: 0;
$menuVerticalNavBottom: 4rem;
$menuVerticalLineHeight: 5rem;
        </code>
    </pre>

<h2 class="c-h2" id="cards">Cards and media wrappers (JS optional)</h2>

    <p class="c-paragraph">Card component is useful to make equally looking cards and media wrappers includes images, videos and embed videos inside thme in correct size ratio.</p>

    <div class="row">
    <div class="column xs-12 lg-default h-displayFlex">
        <div class="c-card">
            <div class="c-mediaWrapper-16_9">
                <img src="http://via.placeholder.com/800x150" alt="Picture"/>
            </div>
            <div class="content">
                <h2 class="c-h2">This is card with image</h2>
                <p class="c-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit nulla non aliquam mollis. </p>
            </div>
        </div>
    </div>
    <div class="column xs-12 lg-default h-displayFlex">
        <div class="c-card">
            <div class="c-mediaWrapper-4_3">
                <video autoplay loop muted width="320" height="240">
                    <source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4"/>
                </video>
            </div>
            <div class="content">
                <h2 class="c-h2">This is card with video</h2>
                <p class="c-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit nulla non aliquam mollis.</p>
            </div>
        </div>
    </div>
    <div class="column xs-12 lg-default h-displayFlex">
        <div class="c-card">
            <div class="c-mediaWrapper-1_1">
                <iframe src="https://www.youtube.com/embed/NpEaa2P7qZI" width="560" height="315" frameborder="0"></iframe>
            </div>
            <div class="content">
                <h2 class="c-h2">This is card with embed video</h2>
                <p class="c-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit nulla non aliquam mollis.</p>
            </div>
        </div>
    </div>
    </div>

    <pre>
        <code>
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;column xs-12 lg-default h-displayFlex&quot;&gt;
            &lt;div class=&quot;c-card&quot;&gt;
                &lt;div class=&quot;c-mediaWrapper-16_9&quot;&gt;
                    &lt;img src=&quot;http://via.placeholder.com/800x150&quot; alt=&quot;Picture&quot;/&gt;
                &lt;/div&gt;
                &lt;div class=&quot;content&quot;&gt;
                    &lt;h2 class=&quot;c-h2&quot;&gt;This is card with image&lt;/h2&gt;
                    &lt;p class=&quot;c-paragraph&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit nulla non aliquam mollis. &lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;column xs-12 lg-default h-displayFlex&quot;&gt;
            &lt;div class=&quot;c-card&quot;&gt;
                &lt;div class=&quot;c-mediaWrapper-4_3&quot;&gt;
                    &lt;video autoplay loop muted width=&quot;320&quot; height=&quot;240&quot;&gt;
                        &lt;source src=&quot;https://www.w3schools.com/tags/movie.mp4&quot; type=&quot;video/mp4&quot;/&gt;
                    &lt;/video&gt;
                &lt;/div&gt;
                &lt;div class=&quot;content&quot;&gt;
                    &lt;h2 class=&quot;c-h2&quot;&gt;This is card with video&lt;/h2&gt;
                    &lt;p class=&quot;c-paragraph&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit nulla non aliquam mollis.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;column xs-12 lg-default h-displayFlex&quot;&gt;
            &lt;div class=&quot;c-card&quot;&gt;
                &lt;div class=&quot;c-mediaWrapper-1_1&quot;&gt;
                    &lt;iframe src=&quot;https://www.youtube.com/embed/NpEaa2P7qZI&quot; width=&quot;560&quot; height=&quot;315&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;
                &lt;/div&gt;
                &lt;div class=&quot;content&quot;&gt;
                    &lt;h2 class=&quot;c-h2&quot;&gt;This is card with embed video&lt;/h2&gt;
                    &lt;p class=&quot;c-paragraph&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit nulla non aliquam mollis.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
        </code>
    </pre>

    <p class="c-paragraph">
        Media wrappers use CSS property object-fit, which is not supported by Android Browser 4.4 and Internet Explorer. For Media wrappers wirh images, Skar.IS includes a polyfill. In case you are using Media Wrapper component with images and videos on Android Browser or with videos on Edge, the images and videos ratio should be same as the ratio of media wrapper.
    </p>

    <p class="c-paragraph">
        The following variables can be changed:
    </p>

    <pre>
        <code class="css">
$cardBg: white;
$cardShadow: 0 .5rem 1rem 0 hsla(0,0%,47%,.3);
$cardPadding: 3rem;
        </code>
    </pre>

    <h2 class="c-h2" id="modal">Modal (JS)</h2>

    <button class="c-button" data-modal="modal-1">Click me to show modal!</button>

    <div class="c-overlay" data-close="modal-1"></div>
    <div class="c-modal" id="modal-1">
        <div class="close" data-close="modal-1"></div>
        <div class="content">
            <h2 class="c-h2">I am modal!</h2>
            <p class="c-paragraph h-textJustify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Integer pellentesque quam vel velit. Suspendisse sagittis ultrices augue. Integer tempor. Aliquam erat volutpat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Curabitur sagittis hendrerit ante. Etiam quis quam. Praesent id justo in neque elementum ultrices. Nam sed tellus id magna elementum tincidunt. Duis risus. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
        </div>
    </div>

    <pre>
        <code>
    &lt;div class=&quot;c-overlay&quot; data-close=&quot;modal-1&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;c-modal&quot; id=&quot;modal-1&quot;&gt;
        &lt;div class=&quot;close&quot; data-close=&quot;modal-1&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;content&quot;&gt;
            &lt;h2 class=&quot;c-h2&quot;&gt;I am modal!&lt;/h2&gt;
            &lt;p class=&quot;c-paragraph h-textJustify&quot;&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu metus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Integer pellentesque quam vel velit. Suspendisse sagittis ultrices augue. Integer tempor. Aliquam erat volutpat. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Curabitur sagittis hendrerit ante. Etiam quis quam. Praesent id justo in neque elementum ultrices. Nam sed tellus id magna elementum tincidunt. Duis risus. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
        </code>
    </pre>

    <p class="c-paragraph">The following variables can be changed:</p>

    <pre>
        <code class="css">
$overlayBg: rgba(0,0,0,.9);
$modalMaxWidth: 90vw;
$modalMaxHeight: 90vh;
$modalBg: white;
$modalContentPadding: 3rem;
$modalCloseWidth: 3rem;
$modalCloseHeight: 3rem;
$modalCloseRight: 3rem;
$modalCloseTop: 3rem;
$modalCloseLine: .2rem;
$modalCloseColor: #282828;
        </code>
    </pre>

    <h2 class="c-h2" id="pagination">Pagination</h2>

    <ul class="c-pagination">
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>

    <pre>
        <code>
    &lt;ul class=&quot;c-pagination&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
        </code>
    </pre>

    <p class="c-paragraph">The following variables can be changed:</p>

    <pre>
        <code class="css">
$paginationSpace: 1rem;
$paginationItemWidthHeight: 3.6rem;
$paginationBorderWidth: .2rem;
$paginationColor: #282828;
$paginationActiveColor: white;
        </code>
    </pre>

    <h2 class="c-h2" id="progress">Progress</h2>

    <p class="c-paragraph">Progress component can look a bit different on each browser.</p>

    <progress max="100" value="67" class="c-progress"></progress>

    <pre>
        <code>
&lt;progress max=&quot;100&quot; value=&quot;67&quot; class=&quot;c-progress&quot;&gt;&lt;/progress&gt;
        </code>
    </pre>

    <p class="c-paragraph">The following variables can be changed:</p>

    <pre>
        <code class="css">
$progressHeight: 2rem;
$progressBg: #A9A8B2;
$progressValueBg: #282828;
        </code>
    </pre>

    <h2 class="c-h2" id="tabs">Tabs (JS)</h2>

    <button class="c-button" data-tabs="tabs-1" data-tab="1">Tab 1</button>
    <button class="c-button" data-tabs="tabs-1" data-tab="2">Tab 2</button>
    <button class="c-button" data-tabs="tabs-1" data-tab="3">Tab 3</button>

    <div class="c-tabs" data-tabs="tabs-1">
        <div class="tab active">
            <h2 class="c-h2">Tab 1 title</h2>
            <p class="c-paragraph">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Mauris tincidunt sem sed arcu. Aenean vel massa quis mauris vehicula lacinia. Duis viverra diam non justo. In dapibus augue non sapien. Aliquam erat volutpat. Duis condimentum augue id magna semper rutrum. Nulla quis diam. Integer in sapien. Maecenas libero. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Vivamus ac leo pretium faucibus. In rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque porta. Nullam at arcu a est sollicitudin euismod. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Maecenas sollicitudin. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit.
            </p>
        </div>
        <div class="tab">
            <h2 class="c-h2">Tab 2 title</h2>
            <p class="c-paragraph">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Mauris tincidunt sem sed arcu. Aenean vel massa quis mauris vehicula lacinia. Duis viverra diam non justo. In dapibus augue non sapien. Aliquam erat volutpat. Duis condimentum augue id magna semper rutrum. Nulla quis diam. Integer in sapien. Maecenas libero. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Vivamus ac leo pretium faucibus. In rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque porta. Nullam at arcu a est sollicitudin euismod. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Maecenas sollicitudin. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit.
            </p>
        </div>
        <div class="tab">
            <h2 class="c-h2">Tab 3 title</h2>
            <div class="c-mediaWrapper-21_9">
                <video autoplay loop muted width="320" height="240">
                    <source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>

    <pre>
        <code>
    &lt;button class=&quot;c-button&quot; data-tabs=&quot;tabs-1&quot; data-tab=&quot;1&quot;&gt;Tab 1&lt;/button&gt;
    &lt;button class=&quot;c-button&quot; data-tabs=&quot;tabs-1&quot; data-tab=&quot;2&quot;&gt;Tab 2&lt;/button&gt;
    &lt;button class=&quot;c-button&quot; data-tabs=&quot;tabs-1&quot; data-tab=&quot;3&quot;&gt;Tab 3&lt;/button&gt;

    &lt;div class=&quot;c-tabs&quot; data-tabs=&quot;tabs-1&quot;&gt;
        &lt;div class=&quot;tab active&quot;&gt;
            &lt;h2 class=&quot;c-h2&quot;&gt;Tab 1 title&lt;/h2&gt;
            &lt;p class=&quot;c-paragraph&quot;&gt;
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Mauris tincidunt sem sed arcu. Aenean vel massa quis mauris vehicula lacinia. Duis viverra diam non justo. In dapibus augue non sapien. Aliquam erat volutpat. Duis condimentum augue id magna semper rutrum. Nulla quis diam. Integer in sapien. Maecenas libero. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Vivamus ac leo pretium faucibus. In rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque porta. Nullam at arcu a est sollicitudin euismod. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Maecenas sollicitudin. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;tab&quot;&gt;
            &lt;h2 class=&quot;c-h2&quot;&gt;Tab 2 title&lt;/h2&gt;
            &lt;p class=&quot;c-paragraph&quot;&gt;
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Mauris tincidunt sem sed arcu. Aenean vel massa quis mauris vehicula lacinia. Duis viverra diam non justo. In dapibus augue non sapien. Aliquam erat volutpat. Duis condimentum augue id magna semper rutrum. Nulla quis diam. Integer in sapien. Maecenas libero. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Vivamus ac leo pretium faucibus. In rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque porta. Nullam at arcu a est sollicitudin euismod. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Maecenas sollicitudin. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;tab&quot;&gt;
            &lt;h2 class=&quot;c-h2&quot;&gt;Tab 3 title&lt;/h2&gt;
            &lt;div class=&quot;c-mediaWrapper-21_9&quot;&gt;
                &lt;video autoplay loop muted width=&quot;320&quot; height=&quot;240&quot;&gt;
                    &lt;source src=&quot;https://www.w3schools.com/tags/movie.mp4&quot; type=&quot;video/mp4&quot;/&gt;
                &lt;/video&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
        </code>
    </pre>

    <h2 class="c-h2" id="vizuals">Vizuals</h2>

    <h3 class="c-h3">Image vizual</h3>

    <div class="c-vizual"></div>

    <pre>
        <code>
&lt;div class=&quot;c-vizual&quot;&gt;&lt;/div&gt;
        </code>
    </pre>

    <h3 class="c-h3">Video vizual</h3>

    <div class="c-videoVizual">
        <video muted autoplay loop>
            <source src="https://www.quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4">
        </video>
    </div>

    <pre>
        <code>
    &lt;div class=&quot;c-videoVizual&quot;&gt;
        &lt;video muted autoplay loop&gt;
            &lt;source src=&quot;https://www.quirksmode.org/html5/videos/big_buck_bunny.mp4&quot; type=&quot;video/mp4&quot;&gt;
        &lt;/video&gt;
    &lt;/div&gt;
        </code>
    </pre>

    <p class="c-h3">The following variables can be changed:</p>

    <pre>
        <code class="css">
$vizualHeight: 40rem;
$vizualBg: #282828;
        </code>
    </pre>

{% endblock %}
