{% extends 'base.html.twig' %}

{% block sidebar %}
    <li>
        <a href="#examples">Examples</a>
    </li>
{% endblock %}

{% block body %}
    <h1 class="c-h1" id="examples">Examples</h1>

    <p class="c-paragraph">Here you can find more complex examples of websites or websites templates made with Skar.IS CSS library.</p>

    <ul class="c-list">
        <li>
            <a href="http://skaris.skaramart.in/homepage" class="h-linkNoneHover" target="_blank">
                Homepage template example
            </a>
        </li>
        <li>
            <a href="http://skaris.skaramart.in/contact" class="h-linkNoneHover" target="_blank">
                Contact page template example
            </a>
        </li>
        <li>
            <a href="http://skaris.skaramart.in/project" class="h-linkNoneHover" target="_blank">
                App project page template example
            </a>
        </li>
    </ul>

{% endblock %}
